
header {
  width: 100%;
  height: 150px;
  background-image: url('../../../assets/images/bg-header-desktop.svg');
  background-position: center;
  background-color: $color-primary;
}

.filter {
  width: 80%;
  min-height: 80px;
  bottom: 40px;
  padding: 1.5em;
  margin: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: $border-radius;
  background-color: white;
  @include box-shadow;

  &__tag {
    display: flex;
    flex-wrap: wrap;

    
    h3 {
      padding: .5em;
      border-radius: 5px;
      margin: 0 1.2em;
      width: auto;
      position: relative;
      color: $color-primary;
      background-color: $color-light-gray;
      font-weight: $font-weight-700;
      @include font-size($font-14);
      
      &:nth-child(1) {
        margin-left: 0;
      }

      &::after {
        content: attr(data-remove);
        top: 0;
        right: -28px;
        width: 30px;
        height: 100%;
        background-size: 12px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        display: block;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url('../../../assets/images/icon-remove.svg');
        background-color: $color-primary;
      }
      &:hover::after {
        cursor: pointer;
        background-color: $color-very-dark-cyan;
      }
    }
  }
  &__clear {
    color: $color-primary;
    font-family: $font-family-spartan;
    font-weight: $font-weight-700;
    @include font-size($font-12);

    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }
}

.box {
  width: 80%;
  height: auto;
  margin: 65px auto;
  padding: 20px;
  border-radius: $border-radius;
  position: relative;
  align-items: center;
  background-color: white;
  @include display-grid;
  @include grid-template-columns(100px auto auto);
  @include box-shadow;

  &:nth-child(-n + 2)::before {
    @include border-color(true);
  }

  img {
    justify-self: center;
    width: 80%;
    display: block;
  }

  &__content {
    padding: 8px 20px;

    &--title {
      width: 100%;
      margin: 5px 0;
      display: flex;
      align-items: baseline;

      h1 {
        text-transform: capitalize;
        background: none;
        padding: 0;
        color: $color-primary;
        font-weight: $font-weight-700;
        @include font-size($font-15);
      }

      ul {
        display: block;
        margin: 0 5px;
        padding: 0;
        list-style: none;
        @include font-size($font-12);

        li {
          display: inline;
          margin: 0 2px;
          padding: 4px;
          border-radius: 20px;
          text-transform: uppercase;
          color: $color-light-cyan;
          font-family: $font-family-spartan;
          font-weight: $font-weight-500;
          background-color: $color-very-dark-cyan;
          @include font-size(10px);

          &:first-of-type {
            background: $color-primary;
          }
        }
      }
    }

    h3 {
      margin: 8px 0 4px 0;
      font-family: $font-family-spartan;
      font-weight: $font-weight-700;
      color: $color-very-dark-cyan;
      @include font-size($font-15);

      &:hover {
        cursor: pointer;
        color: $color-primary;
      }
    }

    &--position {
      padding: 0;
      width: 100%;
      margin: 5px 0;
      display: inline-flex;
      list-style: none;
      position: relative;
      font-family: $font-family-spartan;
      color: $color-dark-cyan;
      @include font-size($font-14);

      li {
        &:after {
          content: "\00b7";
          font-weight: $font-weight-700;
          margin: 0 5px;
        }

        &:last-of-type:after {
          content: none;
        }
      }
    }
  }

  &__tool {
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: flex;
      flex-wrap: wrap;
      color: $color-primary;
      font-weight: $font-weight-700;
      @include font-size($font-14);
    }
    li {
      border-radius: 4px;
      padding: 5px;
      margin: 5px;
      background-color: $color-light-gray;

      &:hover {
        cursor: pointer;
        color: $color-light-gray;
        background-color: $color-primary;
      }
    }
  }
}
