@include media(mobile-only) {

  header {
    width: 100%;
    height: 100px;
    background-image: url('../../assets/images/bg-header-mobile.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-color: $color-primary;
  }

  main {
    max-width: 320px;
    background-color: $color-light-cyan;
  }

  .box {
    width: 80%;
    height: 200px;
    margin: 100px auto;
    padding: 18px 0;
    border-radius: 8px;
    position: relative;
    @include display-grid;
    @include grid-template-columns(1fr);

    &:nth-child(-n+2)::before{
      @include border-color(true);
    }

    img {
      width: 40px;
      height: 40px;
      position: absolute;
      top: -20px;
      left: 20px;
    }

    &__content {
      // display: flex;
      // flex-direction: column;
      padding: 8px 20px;

      &--title {
        width: 100%;
        margin: 5px 0;
        display: flex;
        align-items: baseline;

        h1 {
          text-transform: capitalize;
          background: none;
          padding: 0;
          color: $color-primary;
          font-weight: $font-weight-700;
          @include font-size($font-12);
        }

        ul {
          display: block;
          margin: 0 5px;
          padding: 0;
          list-style: none;
          @include font-size(8px);

          li {
            display: inline;
            margin: 0 2px;
            padding: 4px;
            border-radius: 20px;
            text-transform: uppercase;
            color: $color-light-cyan;
            font-family: $font-family-spartan;
            font-weight: $font-weight-500;
            background-color: $color-very-dark-cyan;

            &:first-of-type {
              background: $color-primary;
            }
          }
        }
      }

      h3 {
        margin: 8px 0 4px 0;
        font-family: $font-family-spartan;
        font-weight: $font-weight-700;
        color: $color-very-dark-cyan;
        @include font-size($font-12);
      }

      &--position {
        padding: 0;
        width: 100%;
        margin: 5px 0;
        display: inline-flex;
        list-style: none;
        font-family: $font-family-spartan;
        color: $color-dark-cyan;
        @include font-size(10px);

        li {
          &:after {
            content: "\00b7";
            font-weight: $font-weight-700;
            margin: 0 5px;
          }

          &:last-of-type:after {
            content: none;
          }
        }
      }
    }

    &__tool {
      width: 100%;
      padding: 8px 20px;
      display: flex;
      justify-items: flex-start;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        color: $color-primary;
        font-weight: $font-weight-700;
        @include font-size(10px);
      }

      &:first-child {
        background-color:red;
      }

      li {
        border-radius: 4px;
        padding: 5px;
        // margin: 5px 5px;
        background-color: $color-light-gray;
      }
    }
  }
}
