doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" sizes="32x32" href="./src/assets/images/favicon-32x32.png")
    link(href="https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap" rel="stylesheet")
    title Frontend Mentor | Job Listings
    include ./components/mixin.pug
  body
    header
    main
      div.filter
        span.filter__container
          span Frontend
          span RoR
          span Backend
          span Fullstack
          span CSS
        h3 Clear
      +box('Photosnap','photosnap.svg',true,true,'Senior Frontend Developer','Frontend','Senior','1d ago','Full Time','USA Only',['HTML','CSS','JavaScript'],[])
      +box('Manage','manage.svg',true, true,'Fullstack Developer','Fullstack','Midweight','1d ago','Part Time','Remote',['Python'],['React'])
      +box('Account','account.svg',true, false,'Junior Frontend Developer','Frontend','Junior','2d ago','Part Time','USA Only',['JavaScript'],['React', 'Sass'])
      +box('MyHome','myhome.svg',false, false ,'Junior Frontend Developer','Frontend','Junior','5d ago','Contract','USA Only',['CSS','JavaScript'],[])
      +box('Loop Studios','loop-studios.svg',false, false,'Software Engineer','FullStack','Midweight','1w ago','Full Time','Worldwide',['JavaScript'],['Ruby', 'Sass'])
      +box('FaceIt','faceit.svg',false, false,'Junior Backend Developer','Backend','Junior','2w ago','Full Time','UK Only',['Ruby'],['RoR'])
      +box('Shortly','shortly.svg',false, false,'Junior Developer','Frontend','Junior','2w ago','Full Time','Worldwide',['HTML','JavaScript'],['Sass'])
      +box('Insure','insure.svg',false, false,'Junior Frontend Developer','Frontend','Junior','2w ago','Full Time','Usa Only',['JavaScript'],['Vue', 'Sass'])
      +box('Eyecam Co.','eyecam-co.svg',false, false,'Full Stack Engineer','Fullstack','Midweight','3d ago','Full Time','Worldwide',['JavaScript', 'Python'],['Django'])
      +box('The Air Filter Company.','the-air-filter-company.svg',false, false,'Front-end Dev','Frontend','Junior','1mo ago','Part Time','Worldwide',['JavaScript'],['React', 'Sass'])
