doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon" type="image/png" sizes="32x32" href="./src/assets/images/favicon-32x32.png")
    link(href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet")
    title Frontend Mentor | Job Listings
    include ./components/mixin.pug
  body
    header.header
    main
      +box('Photosnap','photosnap.svg','new','true','Senior Frontend Developer','Frontend','Senior','1d ago','Full Time','USA Only','languages','tools')
      +box('Manage','manage.svg','new','true','Fullstack Developer','Fullstack','Midweight','1d ago','Part Time','Remote','languages','tools')
      +box('Account','account.svg','new','false','Junior Frontend Developer','Frontend','Junior','2d ago','Part Time','USA Only','languages','tools')
      +box('MyHome','myhome.svg','false','false','Junior Frontend Developer','Frontend','Junior','5d ago','Contract','USA Only','languages','tools')
      +box('Loop Studios','loop-studios.svg','false','false','Software Engineer','FullStack','Midweight','1w ago','Full Time','Worldwide','languages','tools')
      +box('FaceIt','faceit.svg','false','false','Junior Backend Developer','Backend','Junior','2w ago','Full Time','UK Only','languages','tools')
      +box('Shortly','shortly.svg','false','false','Junior Developer','Frontend','Junior','2w ago','Full Time','Worldwide','languages','tools')
      +box('Insure','insure.svg','false','false','Junior Frontend Developer','Frontend','Junior','2w ago','Full Time','Usa Only','languages','tools')
      +box('Eyecam Co.','eyecam-co.svg','false','false','Full Stack Engineer','Fullstack','Midweight','3d ago','Full Time','Worldwide','languages','tools')
      +box('The Air Filter Company.','the-air-filter-company.svg','false','false','Front-end Dev','Frontend','Junior','1mo ago','Part Time','Worldwide','languages','tools')
